<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height:100%;width:100%;" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/js/easyui/themes/hc/easyui.css">
		<link rel="stylesheet" type="text/css" href="/js/easyui/themes/icon.css">
		<script type="text/javascript" src="/js/easyui/jquery-1.8.0.min.js"></script>
		<script src='/js/angularjs/jquery/jquery.dateFormat-1.0.js'></script>
		<script type='text/javascript' src='/dwr/engine.js'></script>
		<script type='text/javascript' src='/dwr/util.js'></script>
		<script type='text/javascript' src='/dwr/interface/CommonExamService.js'></script>
		<script type='text/javascript' src='/dwr/interface/DataExportService.js'></script>
		<script type='text/javascript' src='/dwr/interface/UserMenuTreeService.js'></script>
		<script src="/js/easyui/jquery.easyui.min.js"></script>
		<script src="/js/easyui/locale/easyui-lang-zh_CN.js"></script>
		<style>
			.tree-file {
				background: url(../../resources/images/default/tree/leaf.gif) no-repeat;
			}
			
			.tree-node-selected {
				background: #d9e8fb;
				color: #000000;
			}
			
			.datagrid-row-selected {
				background: #eaf2ff !important;
				color: #000000;
				font-weight:bold;
			}
			.datagrid-row-over, .datagrid-header td.datagrid-header-over {
				background: #eaf2ff !important;
				color: #000000;
				cursor: default;
			}
		</style>
		<script>
			function getParameterByName(name) {
			    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
			    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			        results = regex.exec(location.search);
			    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}
			var examname = getParameterByName("examname");
			function examDwrLoader(pluginName){
				return function(param, success, error){
					var opts = $(this)[pluginName]('options');
					if (!opts.url) return false;
					var dwrFunc = eval(opts.url);
					param = genParam(param)
					dwrFunc(param[0],param[1],param[2], {
						callback: function(data){
							success(data);
						},
						exceptionHandler: function(){
							error.apply(this, arguments);
						}
					});
				}
			}
			$.fn.datagrid.defaults.loader = examDwrLoader('datagrid');
			var g_params = {};
			function saveparams(){
				var inputs = $("#params_panel").find("input");
            	var params = {};
            	$.each(inputs,function(i,v){
            		console.log(i,v);
            		var obj = $(v);
            		console.log(obj);
            		if(obj.val()){
            			params[obj.attr('id')] = obj.val();
            		}
            	})
            	g_params[$("#select_type").combobox('getValue')] = params; 
			}
            function export_data(){
            	var node = $('#orgtree').tree('getSelected');  
            	var inputs = $("#params_panel").find("input");
            	var params = {};
            	$.each(inputs,function(i,v){
            		console.log(i,v);
            		var obj = $(v);
            		console.log(obj);
            		if(obj.val()){
            			params[obj.attr('id')] = obj.val();
            		}
            	})
            	console.log(params);
            	$('.export_button').linkbutton('disable');
            	DataExportService.sqlExport(node.id,$("#select_type").combobox('getValue'),$("#select_type").combobox('getText'),params,function(data){
            		console.log(data);
            		$('.export_button').linkbutton('enable');
            		window.location.href = data;
            		//window.open(data,null,"height=10,width=10,status=yes,toolbar=no,menubar=no,location=no");
            	});
            }

			function dialogClose(){
				saveparams();
				$("#iframe").attr("src","about:blank");
			}
			function getparams(pagenum){
				return{"page":{pagesize:20,currentpage:pagenum}};
			}
			function gridStyle(index,row){
				if (index % 2 == 0 ){
					return 'background-color:#fbfbfb;';
				}else{
					return ':hover {background-color:#eaf2ff}';
				}
			}
			function datefomattor(value,row,index){
		 		return $.format.date(value, "yyyy-MM-dd")
			}
			
			function genParam(param){
				var node = $('#orgtree').tree('getSelected');  
            	var inputs = $("#params_panel").find("input");
            	var params = {};
            	$.each(inputs,function(i,v){
            		var obj = $(v);
            		if(obj.val()){
            			params[obj.attr('id')] = obj.val();
            		}
            	})
				var node = $('#orgtree').tree('getSelected'); 
				var dwrparams = [node.id,$("#select_type").combobox('getValue'),params];
				console.log(dwrparams);
				return dwrparams;
			}
			
			function selectChild(){
				var node = $('#orgtree').tree('getSelected');  
				//始终选择最后一层
				if(!node.attributes.isDetail){
					var childs = $('#orgtree').tree('getChildren', node.target);
					for(var i = 0 ; i <  childs.length ; i ++){
						if(childs[i].attributes.isDetail){
							$('#orgtree').tree('expandTo',childs[i].target);
							$('#orgtree').tree('select',childs[i].target);
							break;
						}
					}
				}
			}
			
			function dblclick(rowIndex, rowData){
				//var node = $('#orgtree').tree('getSelected');  
				//var url = "marry_check_info.html#&opt=open&district="+node.id+"&id="+rowData["col0"];
				//if(url != $("#iframe").attr("src")){
					//$("#iframe").attr("src","about:blank");//释放iframe内存
					//$("#iframe").attr("src",url);
				//}
				//$("#exam_addpanel").dialog("open");
			}
			
			$(function(){
				var nodedata = window.top.earyuitreedata;
				$('#orgtree').tree({   
					data:nodedata,
					onSelect:function(node){
						$("#selectedorg").val(node.id);
						$("#orgname").text(node.text);
					},
					onLoadSuccess:function(){
						//选中第一节点
						var node = $('#orgtree').tree('find', parseInt(nodedata[0].id));
						$('#orgtree').tree('select', node.target);
					}
				});
				initGrid();
			});
			
			function initGrid(){
				var columns = [];
				DataExportService.sqlListHead($("#select_type").combobox('getValue'),{async:false,callback:function(data){
					columns = data;
	        		//window.open(data,null,"height=10,width=10,status=yes,toolbar=no,menubar=no,location=no");
	        	}});
				$("#querygrid").datagrid({
					url:'DataExportService.sqlList',
					columns:[columns],
					rowStyler:gridStyle,
					singleSelect:true,
					pageList :[10000],
					pagination:true,
					fit:true
				});
			}
			function afterload(){
				$("#select_type + .combo").hide();
			}
			function typechange(){
				var columns = [];
				DataExportService.sqlListHead($("#select_type").combobox('getValue'),{async:false,callback:function(data){
					columns = data;
	        		//window.open(data,null,"height=10,width=10,status=yes,toolbar=no,menubar=no,location=no");
	        	}});
				$("#querygrid").datagrid({
					columns:[columns]
				});
			}
			function queryGrid(){
				$(".query_button").linkbutton('disable');
				$("#querygrid").datagrid("reload");
				$(".query_button").linkbutton('enable');
			}
		</script>
		
		<body >
			<div class="easyui-panel easyui-layout" data-options='fit:true'>
				<input id='selectedorg' type='hidden'>
				<div data-options="region:'west'" title='行政区划' style='width:200px'>
					<ul id="orgtree"></ul>  
				</div>
				<div id="query-tools"  data-options="region:'north'" style='height:40px;padding-top:5px;padding-left:5px;border:true;background-color: #E0ECFF;'>
					<select id='select_type' class="easyui-combobox" name="state" style="width:400px;"  data-options="onSelect:typechange,onLoadSuccess:afterload">
					</select>
					<a id="btn_remove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="javascript:showExport()">查询/导出</a>
				</div>
				<div id="params_panel" class="easyui-dialog" title='参数'  style="width:280px;"
				data-options="iconCls:'icon-save',resizable:false,modal:false,closed:true,onClose:dialogClose">
				</div>
				<div  class="easyui-layout" data-options = "region:'center'">
					<div style='height:26px;padding:5px 0 0 5px;background-color: #E0ECFF;' data-options="region:'north',border:false"><font bold id='orgname'>请选择一个行政区划</font></div>
					<div data-options = "region:'center',border:false">
						<table id='querygrid'></table>
					</div>
				</div>
			</div>
			
			<script>
				var g_options = null;
				DataExportService.get_Export_Param({
					callback:function(data){
						g_options = data;
					},
					async:false
				});
				var colstart = 0;
				var exportid = getParameterByName("exportid");
				if(exportid){
					for(var i=0 ;i <g_options.main.length;i++){
						if(g_options.main[i][0]+"" === exportid ){
							$("#select_type").append(" <option value=\""+g_options.main[i][0]+"\">"+g_options.main[i][1]+"</option>")
							break;
						}
					}
				}else{
					for(var i=0 ;i <g_options.main.length;i++){
						$("#select_type").append(" <option value=\""+g_options.main[i][0]+"\">"+g_options.main[i][1]+"</option>")
					}
				}
				
				var g_subs = {};
				for(var i=0 ;i <g_options.sub.length;i++){
					if(!g_subs[g_options.sub[i].mainid]){
						g_subs[g_options.sub[i].mainid] = {};
					}
					g_subs[g_options.sub[i].mainid][g_options.sub[i].id] = g_options.sub[i];
				}
				function showExport(){
					var id = $("#select_type").combobox('getValue');
					$("#params_panel").html('');
					if(g_subs[id]){
						var values = g_params[id]; 
						var html = "<table>";
						for(var key in g_subs[id]){
							html+=("<tr><td>"+g_subs[id][key].name+"：</td>");
							if(values && values[key]){
								html+=("<td><input id='"+key+"' value='"+values[key]+"'></td></tr>");
							}else{
								html+=("<td><input id='"+key+"'></td></tr>");
							}
						}
						html+=("<tr><td colspan=2 ><a class='query_button' href='#' onclick='javascript:queryGrid()'>查询</a><a class='export_button' href='#' onclick='javascript:export_data()'>导出</a></td></tr>");
						html+=("</table>");
						$("#params_panel").append(html);
						$('.query_button').linkbutton({
						    iconCls: 'icon-search'
						});
						$('.export_button').linkbutton({
						    iconCls: 'icon-redo'
						});
						$('#params_panel').dialog('open');
					}
				}
			</script>
		</body>
</html>