<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height:100%;width:100%;" ng-app="all" ng-controller="CommonCheck">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="crud_info.css">
		<link rel="stylesheet" type="text/css" href="/js/angularjs/jqueryui/css/smoothness/jquery-ui-1.10.2.custom.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angularjs/ui/build/angular-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/js/angularjs/bootstrap/bootstrap.min.css">
		<link href="/js/angularjs/select2/select2.css" rel="stylesheet"/>
		<script language="javascript" src="/js/LodopFuncs.js"></script>
		<object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA"
			width=0 height=0>
			<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0
				pluginspage="install_lodop.exe"></embed>
		</object>
		<script type="text/javascript" src="/js/printProtectPage.js"></script>
		<body >
		<div class = 'toolbar'>
			<a id='btn_save' class="btn" ng-click="save()" >保存</a>
			<a class="btn" ng-click="exit()">退出</a>
		</div>
		<alert class='alertpanel' ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		<div style='overflow:visible;'>
			<table class='inputtable' >
				<tr>
					<td colspan=2 style='text-align:center;font:bold 22px 宋体'>
						<span ng-bind-html-unsafe="crudname"></span>
					</td>
				</tr>
				<tr>
					<td colspan=2 style='text-align:center;font:bold 22px 宋体'>
					</td>
				</tr>
				<tr ng-repeat=" col in  colset ">
					<td style="text-align:right;"><span ng-bind-html-unsafe="col.name"></span>：</td>
					<td style="text-align:left;"><input  ng-model="data[col.name]"  ng-disabled='!col.editable' style="width:200px" /></td>
				</tr>
			</table>
		</div>
		<script src="/js/angularjs/moment.min.js"></script>
			<script src="/js/util/util.js"></script>
			<script type='text/javascript' src='/dwr/engine.js'></script>
			<script type='text/javascript' src='/dwr/util.js'></script>
			<script src="/js/angularjs/bootstrap/widgets.js"></script>
			<script type='text/javascript' src='/dwr/interface/CommonExamService.js'></script>
			<script type='text/javascript' src='/dwr/interface/PersonalInfoService.js'></script>
			<script type='text/javascript' src='/dwr/interface/FileNumSearch.js'></script>
			<script type='text/javascript' src='/dwr/interface/UserMenuTreeService.js'></script>
			<script type="text/javascript" src="/js/angularjs/jquery/jquery-1.9.1.min.js"></script>
			<script type="text/javascript" src="/js/angularjs/jqueryui/js/jquery-ui-1.10.2.custom.min.js"></script>
			<script type="text/javascript" src="/js/angularjs/jqueryui/jquery-ui-zh-CN.js"></script>
			<script src="/js/angularjs/select2/select2.js"></script>
			<script src="/js/angularjs/angular.min.js"></script>
			<script src="/js/angularjs/ui/build/angular-ui.min.js"></script>
			
			<script src="/js/angularjs/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
			<script type="text/javascript" src="/js/angularjs/jquery.mask.min.js"></script>
			<script src="/js/angularjs/controllers/directives.js"></script>
			<script src="crud_controller.js"></script>
			<script src="crud_info.js"></script>
		</body>
</html>